@mixin custom-scrollbar($width, $height, $thumb-color, $track-color) {
    &::-webkit-scrollbar {
        width: $width;
        height: $height;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $thumb-color;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $track-color;
    }
}

.scrollbar-banners {
    @include custom-scrollbar(10px, 10%, #b45309, #b453096e);
}
