.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    opacity: 1;
    background-image: url('/img/general/jumbotron.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 999999;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background-image: linear-gradient(
            0deg,
            rgb(165, 180, 255, 0.9) 0%,
            rgb(165, 180, 252, 0.7) 5%,
            rgba(0, 0, 0, 0) 100%
        );
    }
    &__title {
        display: flex;
        flex-direction: column;
        z-index: 3;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        & > h1 {
            font-weight: bold;
            text-shadow: 0 2px 1px rgb(0, 0, 0);
            span {
                background: -webkit-linear-gradient(
                    rgb(253, 187, 45) 60%,
                    rgba(34, 193, 195) 40%
                );
                text-shadow: none;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: neon 0.1s ease-in-out infinite alternate;
            }
        }
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 20px rgb(255, 217, 0);
    }
    to {
        text-shadow: 0 0 20px rgba(228, 228, 202, 0.98),
            0 0 30px rgba(228, 226, 202, 0.42),
            0 0 12px rgba(242, 228, 30, 0.58), 0 0 22px rgba(242, 238, 30, 0.84);
    }
}
